# Server
PORT=

# Database
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=

#CORS
FRONTEND_ORIGIN=

#Session
SESSION_SECRET=
SESSION_MAX_AGE=
SESSION_SECURE=

#RustFS
RUSTFS_ENDPOINT=
RUSTFS_ACCESS_KEY=
RUSTFS_SECRET_KEY=
RUSTFS_BUCKET=
RUSTFS_REGION=